<%= form_for(professional_profile) do |f| %>
  <% if professional_profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(professional_profile.errors.count, "error") %> prohibited this professional_profile from being saved:</h2>

      <ul>
      <% professional_profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :message_price %>
    <p>How much do you want to charge someone to ask you a question?</p>
    <%= f.number_field :message_price %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
