<p id="notice"><%= notice %></p>

<h1>Professional Profiles</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Message price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @professional_profiles.each do |professional_profile| %>
      <tr>
        <td><%= professional_profile.user %></td>
        <td><%= professional_profile.message_price %></td>
        <td><%= link_to 'Show', professional_profile %></td>
        <td><%= link_to 'Edit', edit_professional_profile_path(professional_profile) %></td>
        <td><%= link_to 'Destroy', professional_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Professional Profile', new_professional_profile_path %>
