<p id="notice"><%= notice %></p>

<p>
  <strong>Styleboard:</strong>
  <%= @hashtag.styleboard %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @hashtag.tag %>
</p>

<%= link_to 'Edit', edit_hashtag_path(@hashtag) %> |
<%= link_to 'Back', hashtags_path %>
